.section {
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: #fff5f6;

  @media screen and (min-width: 1280px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section__bg {
  @media screen and (max-width: 767px) {
    background-image: url(../images/about/about_bg_l.png);
    background-repeat: no-repeat;
    background-position-y: 75%;
    background-position-x: center;
    background-size: contain;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about/about_bg_l@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/about/about_bg_l.png);
    background-repeat: no-repeat;
    background-position-y: 100%;
    background-position-x: center;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about/about_bg_l@2x.png);
    }
  }
}

.section__box {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 128px) {
    justify-content: flex-start;
    align-items: center;
  }
}

.lable {
  display: block;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.title {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 60px;
  }
}

.section__img {
  margin-bottom: 40px;
  width: 100%;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.about {
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-left: 32px;
    width: 334px;
  }

  @media screen and (min-width: 1280px) {
    margin-left: 140px;
    width: 463px;
  }
}

.about__title {
  margin-bottom: 40px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;

  color: var(--primary-txt-cl);

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.79;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
  }
}

.about__text {
  margin-bottom: 20px;

  font-family: inherit;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.58;

  color: var(--secondary-txt-cl);

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 1.79;
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.93;
  }
}

.about__text--gap {
  white-space: pre-line;
}

.about__button {
  padding: 15px 38px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  border: none;
  border-radius: 22px;

  color: var(--accent-txt-cl);
  background-color: #ffffff;

  &:focus,
  &:hover {
    background-color: #ecebeb;
  }

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.31;
  }
}

.about__button::after {
  content: '';
  margin-left: 14px;
  border: solid var(--accent-txt-cl);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
