.section__advantages {

background-color: #FFF5F6;

@media screen and (max-width: 767px) {

    padding-top: 0;
    }
}

.advantages {
    padding-left: 0;
    @media screen and (min-width: 768px) {
        display: flex;
        margin: -11px;
        margin-left: 17px;
    }
    @media screen and (min-width: 1280px) {
        margin: -71px;
        margin-left: 1px;
    }
}
.advantages__item {
    
    @media screen and (max-width: 767px) {
        margin-left: 5px;
    
        &:not(:last-child) {
        margin-bottom: 32px;
        }
     }
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 6 * 11px) / 3);
        margin: 11px;
        
    }
    @media screen and (min-width: 1280px) {
        flex-basis: calc((100% - 6 * 71px) / 3);
        margin: 71px;
    }
}
.element__milk::before {
    content: "";
    width: 33px;
    height: 50px;
    background-color: #FFF5F6;
    background-size: contain;
    display: block;
    background-image: url(../images/advantages/adv-icon1.png);
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/advantages/adv-icon1@2x.png);
        }
    @media screen and (max-width: 767px) {
        margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) {
        margin-bottom: 36px;
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 40px;
    }
}
.element__apple::before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #FFF5F6;
    background-size: contain;
    display: block;
    background-image: url(../images/advantages/adv-icon2.png);
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/advantages/adv-icon2@2x.png);
        }

    @media screen and (max-width: 767px) {
        margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 36px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 40px;
    }
}
.element__ice-cream::before {
    content: "";
    width: 44px;
    height: 50px;
    background-color: #FFF5F6;
    background-size: contain;
    display: block;
    background-image: url(../images/advantages/adv-icon3.png);
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url(../images/advantages/adv-icon3@2x.png);
        }
    @media screen and (max-width: 767px) {
        margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 36px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 40px;
    }
}

.advantages__element {
    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.14;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        font-size: 48px;
        margin-bottom: 13px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 58px;
        margin-bottom: 16px;
    }
}
.advantages__text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.7;
    color: #000000;
    @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
    }
    @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    }
}