.bottom-block__svg {
   margin-left: 13px;
   width: 10px;
   height: 10px;
   fill: #ffffff;

   &--color {
      fill: #d41443;
   }
}

.bottom-block__label {
   font-family: var(--secondary-font);
   font-weight: 400;
   font-size: 18px;
   line-height: 1.16;
   text-align: left;   
   text-transform: uppercase;
   color: var(--subtitle-txt-cl);
   margin-bottom: 15px;
   @media screen and (min-width:768px) {
       font-size: 26px;
       line-height: 1.15;

   }

   @media screen and (min-width:1280px) {
       font-size: 30px;
       line-height: 1.13;
       letter-spacing: 0.04em;

   }
}

.bottom-block__title {
   font-family: var(--secondary-font);
   font-weight: 400;
   font-size: 34px;
   line-height: 1.15;
   text-align: left;
   letter-spacing: 0.04em;
   color: var(--accent-txt-cl);
   text-transform: uppercase;

   @media screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 1.15;
   }
   @media screen and (min-width: 1280px) {
      font-size: 58px;
      line-height: 1.14;
      letter-spacing: 0.06em;
   }
}

.bottom-block__element {
   @media screen and (max-width: 767px) {
      margin-bottom: 40px;
   }
   @media screen and (max-width: 1279px) {
      width: 250px;
   }
}
