
.bottom-block__svg{
   margin-left: 13px;
   width: 10px;
   height: 10px;
   fill: #FFFFFF;

   &--color{
      fill: #D41443;
   }
}

.bottom-block__label {
   text-align: left;
}

.bottom-block__title {
   text-align: left;
}

.bottom-block__element {
   @media screen and (max-width: 767px) {
         margin-bottom: 40px;
   }
   @media screen and (max-width: 1279px) {
      width: 250px;
   }
}