.hero__title {
    display: inline-block;
    margin-bottom: 20px;
    
    

    font-family: 'Titan One';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;

    @media screen and (min-width: 768px) {
        font-size: 22px;
        line-height: 1.17;
    }
}

.hero__title--red {
    display: inline-block;
 
    font-size: 47px;
    letter-spacing: 0.01em;
    
    color: var(--accent-txt-cl);

    @media screen and (min-width: 768px) {
        font-size: 37px;
        line-height: 1;
    }
}