.hero-wrapper-2 {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        left: 15px;
        bottom: 16px;
    }
}
.hero-text-wrapper {
    width: 125px;
}

.hero-text {
    margin-bottom: 7px;
    
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;

     color: #FFFFFF;
}

.hero-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;

    
    border-radius: 50%;
    background-color: #FFFFFF;
    fill: var(--accent-txt-cl);
}