<section class="section section__bg" id="about">
  <div class="section__bg-img">
    <div class="container">
      <span class="label label__about">tradition and love</span>
      <h2 class="title title__about">how it’s made?</h2>
      <div class="section__box">
        <picture>
          <source
            srcset="images/about/about_l.png 1x, images/about/about_l@2x.png 2x"
            media="(min-width: 1280px)"
            width="501"
          />
          <source
            srcset="images/about/about_m.png 1x, images/about/about_m@2x.png 2x"
            media="(min-width: 768px) and (max-width: 1279px)"
            width="336"
          />
          <source
            srcset="images/about/about_s.png 1x, images/about/about_s@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img
            class="section__about-img"
            src="images/about/about_s.png"
            alt="Cow and milk"
            width="280"
          />
        </picture>
        <div class="about">
          <h3 class="about__title">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </h3>
          <p class="about__text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
            <span class="about__text--gap"
              ><br />
              Aliquam erat volutpat. Aenean accumsan.</span
            >
          </p>
          <button
            class="about__button js-open-modal"
            type="button"
            aria-label="more information"
            data-modal="1"
          >
            Read more
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
