<section class="section" id="about">
  <div class="section__bg">
    <div class="container">
      <span class="label">tradition and love</span>
      <h2 class="title">how it’s made?</h2>
      <div class="section__box">
        <picture>
          <source
            srcset="images/about/about_l.png 1x, images/about/about_l@2x.png 2x"
            media="(min-width: 1280px)"
            width="501"
          />
          <source
            srcset="images/about/about_m.png 1x, images/about/about_m@2x.png 2x"
            media="(min-width: 768px) and (max-width: 1279px)"
            width="336"
          />
          <source
            srcset="images/about/about_s.png 1x, images/about/about_s@2x.png 2x"
            media="(max-width: 767px)"
          />
          <img class="section__img" src="images/about/about_s.png" alt="Cow and milk" width="280" />
        </picture>
        <div class="about">
          <h3 class="about__title">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </h3>
          <p class="about__text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
            <span class="about__text--gap"
              ><br />
              Aliquam erat volutpat. Aenean accumsan.</span
            >
          </p>
          <button class="about__button" type="button" aria-label="more information">
            Read more
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal about -->
<div class="about__backdrop is-hidden" data-modal>
  <div class="about__modal">
    <button class="modal__button" type="button" aria-label="close button" data-modal-close>
      <svg class="modal__icon" width="25" height="25">
        <use href="/images/icons.svg#menu-close"></use>
      </svg>
    </button>
    <p class="modal__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sint a nam culpa, quidem
      blanditiis? Fugiat deleniti corrupti voluptas earum labore perspiciatis, veritatis at ad rerum
      ut, impedit id voluptatem distinctio quo a iste quibusdam maiores totam ullam et nisi?
      Similique libero soluta vel magnam mollitia. Ipsam iure, explicabo cupiditate sint facilis
      hic, eum amet laudantium odio sed earum quae quos deleniti voluptatibus aut, reiciendis
      deserunt inventore maxime adipisci? Illo, explicabo et cupiditate officia dolores facere eos
      dolore delectus velit dolorum amet labore vitae debitis sunt. In nostrum eaque illum corporis
      numquam, non ipsa saepe sapiente doloribus sint, quod minus deserunt assumenda harum amet
      possimus consequuntur aperiam id, velit ducimus? Asperiores quod laudantium vero accusamus
      totam cum, doloremque ratione debitis amet quidem fugiat commodi corporis eos corrupti
      necessitatibus explicabo, voluptas ipsa optio inventore! Enim error sunt commodi architecto,
      ipsa quod? Voluptatibus deleniti illo modi beatae quas repellendus assumenda esse perferendis
      eligendi quasi officia repudiandae, amet quibusdam voluptatum eum asperiores eos ab. Aperiam
      officia earum nostrum minus! Aspernatur id eum a facilis rem, recusandae impedit in
      perspiciatis commodi eos? Recusandae voluptates soluta culpa neque at atque maxime. Distinctio
      rerum consequatur dolorum asperiores non ducimus ea commodi dicta provident facere unde,
      corrupti explicabo, eius, mollitia adipisci animi ullam quidem excepturi voluptates harum
      dolorem odio? Excepturi nisi delectus repellat laudantium quas.
    </p>
  </div>
</div>
