<section class="section__advantages">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>
        <ul class="advantages">
            <li class="advantages__item">
                <img class="advantages__image"
                srcset="images/advantages/adv-icon1.png 1x, images/advantages/adv-icon1@2x.png 2x"
                src="images/advantages/adv-icon1.png" alt="milk in glass">
                <span class="advantages__element">721</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <img class="advantages__image"
                srcset="images/advantages/adv-icon2.png 1x, images/advantages/adv-icon2@2x.png 2x"
                src="images/advantages/adv-icon2.png" alt="apple in glass">
                <span class="advantages__element">16kg</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <img class="advantages__image"
                srcset="images/advantages/adv-icon3.png 1x, images/advantages/adv-icon3@2x.png 2x"
                src="images/advantages/adv-icon3.png" alt="ice-cream">
                <span class="advantages__element">84</span>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>