<section class="section section__contacts">
  <div class="container conteiner__contacts">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contacts">
      <li class="contacts__item">
        <span class="contacts__type">CAFE</span>
        <p class="contacts__location">Chicago</p>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contats__time-open">
          <li class="contacts__days-open">
            <p>Monday - Friday</p>
            <p class="contacts__hours-open">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__days-open">
            <p>Saturday - Sunday</p>
            <p class="contacts__hours-open">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__links">
          <li><a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
          <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="contacts__item">
        <span class="contacts__type contacts__type--accent">FOOD TRUCK</span>
        <p class="contacts__location">Los Angeles</p>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contats__time-open">
          <li class="contacts__days-open">
            <p>Monday - Friday</p>
            <p class="contacts__hours-open">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__days-open">
            <p>Saturday - Sunday</p>
            <p class="contacts__hours-open">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__links">
          <li><a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
          <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
      <li class="contacts__item">
        <span class="contacts__type">CAFE</span>
        <p class="contacts__location">New York</p>
        <p class="contacts__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="contaсts__time-open">
          <li class="contacts__days-open">
            <p>Monday - Friday</p>
            <p class="contacts__hours-open">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__days-open">
            <p>Saturday - Sunday</p>
            <p class="contacts__hours-open">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="contacts__links">
          <li><a class="contacts__link" href="tel:+610383766284">+61(0) 383 766 284</a></li>
          <li><a class="contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </li>
    </ul>
    <ul class="contacts__buttons">
      <li>
        <button class="contacts__button contacts__button--red" type="button" data-modal-open>
          Our Locations
          <svg class="button__icon" width="8" height="10">
            <use href="/images/icons.svg#icon-bracket-white"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="contacts__button contacts__button--white" type="button" data-modal-open>
          Franchise
          <svg class="button__icon" width="8" height="10">
            <use href="/images/icons.svg#icon-bracket-red"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
