<section class="customers section">
    <div class="container">
        <h2 class="visually-hidden ">Customer reviews</h2>
        <div class="customer__one">
            <img class="customer__avatar" src="images/customers/emelie.png" alt="">
            <div class="customer__thumb">
              <div class="customer__thumb-gradient">
                    <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                        nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
              </div>
                    
            </div>
            <p class="customer__name">Emelie, Los Angeles</p>
        </div>
        <div class="customer__two visually-hidden ">
            <img class="customer__avatar" src="" alt="customer avatar">
            <div class="customer__thumb">
                <p class="customer__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates unde temporibus esse aliquid nobis repellendus nihil libero laudantium qui incidunt?</p>
            </div>
            <p class="customer__name">Tomas, Seatle</p>
        </div>
        <div class="customer__three visually-hidden ">
            <img class="customer__avatar" src="" alt="customer avatar">
            <div class="customer__thumb">
                <p class="customer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ipsam est
                    placeat
                    atque tempore, accusantium similique odit quaerat facilis laudantium ab inventore quod quasi dolore
                    veritatis at
                    explicabo illo. Quaerat est nisi dolor ullam eligendi eius, laudantium totam quam consequatur.</p>
            </div>
            <p class="customer__name">Veronika, Austin</p>
        </div>
        
        <ul class="customer__list">
                <li class="customer__item">
                  <button class="customer__button"></button>
                </li>
                <li class="customer__item">
                    <button class="customer__button"></button>
                </li>
                <li class="customer__item">
                    <button class="customer__button"></button>
                </li>
            </ul>
        
    </div>
</section>