<section class="customers section">
    <div class="container">
        <h2 class="visually-hidden ">Customer reviews</h2>
        <div class="multiple-items">
            <div class="slick-item">
                <img class="customer__avatar" srcset="images/customers/emelie.png 1x, images/customers/emelie@2x.png 2x"
                    src="images/customers/emelie.png" alt="Emily">
                <div class="customer__thumb">
                    <div class="customer__thumb-gradient">
                        <p class="customer__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                            hendrerit
                            nulla quam nunc, accumsan
                            congue. Lorem ipsum primis in nibh vel risus.</p>
                    </div>
            
                </div>
                <div class="customer__name-thumb">
                    <p class="customer__name">Emily, Los Angeles</p>
                </div>
            </div>
            <div class="slick-item visually-hidden">
                <img class="customer__avatar" srcset="images/customers/veronika.png 1x, images/customers/veronika@2x.png 2x"
                    src="images/customers/veronika.png" alt="Veronika">
                <div class="customer__thumb">
                    <div class="customer__thumb-gradient">
                      <p class="customer__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptates unde temporibus
                        esse aliquid nobis repellendus nihil libero laudantium qui incidunt?</p>
                    </div>
                </div>
                <div class="customer__name-thumb">
                    <p class="customer__name">Veronika, Seatle</p>
                </div>
            </div>
            <div class="slick-item visually-hidden">
                <img class="customer__avatar" srcset="images/customers/toma.png 1x, images/customers/toma@2x.png 2x"
                    src="images/customers/toma.png" alt="Toma">
                <div class="customer__thumb">
                    <div class="customer__thumb-gradient">
                      <p class="customer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus ipsam est
                        placeat atque tempore.</p>
                    </div>    
                </div>
                <div class="customer__name-thumb">
                    <p class="customer__name">Toma, Austin</p>
                </div>
            </div>
        </div>
        <ul class="customer__list">
                <li class="customer__item">
                  <button class="customer__button current" type="button">  
                  </button>
                </li>
                <li class="customer__item">
                    <button class="customer__button" type="button"></button>
                </li>
                <li class="customer__item">
                    <button class="customer__button" type="button"></button>
                </li>
            </ul>
        
    </div>
</section>