<footer class="footer">
  <div class="footer__box container">
    <div class="bottom-block">
      <div class="bottom-block__element">
        <p class="bottom-block__label">homemade ice cream made</p>
        <p class="bottom-block__title">with passion</p>
      </div>
      <div class="bottom-block__item">
        <ul class="netvork-list">
          <li class="netvork-list__item">
            <a href="" target="_blank" class="netvork-list__link">
              <svg class="netvork-list__icon">
                <use href="./images/icons.svg#icon-github"></use>
              </svg>
            </a>
          </li>
          <li class="netvork-list__item">
            <a href="" target="_blank" class="netvork-list__link">
              <svg class="netvork-list__icon">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="netvork-list__item">
            <a href="" target="_blank" class="netvork-list__link">
              <svg class="netvork-list__icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <p class="contact">
          Feel free to contact
          <a class="contact__link" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </p>
      </div>
    </div>
  </div>
  <div class="box">
    <p class="box__text">© 2019 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
