<article class="example">
  <section class="section-gallery container">
    <h2 class="section__title visually-hidden">Gallery</h2>
    <ul class="grid">
      <li class="grid__item grid__item-1">
        <div class="grid__thumb card">
          <img
            srcset="./images/gallery/img1-d.png 1x, ./images/gallery/img1@2x-d.png 2x"
            src="./images/gallery/img1-d.png"
            alt="icecream"
          />
        </div>
      </li>

      <li class="grid__item grid__item-2">
        <div class="grid__thumb card">
          <img
            srcset="./images/gallery/img2-d.png 1x, ./images/gallery/img2@2x-d.png 2x"
            src="./images/gallery/img2-d.png"
            alt="icecream"
          />
        </div>
      </li>

      <li class="grid__item grid__item-3">
        <div class="grid__thumb card">
          <img
            srcset="./images/gallery/img3-d.png 1x, ./images/gallery/img3@2x-d.png 2x"
            src="./images/gallery/img3-d.png"
            alt="icecream"
          />
        </div>
      </li>

      <li class="grid__item grid__item-4">
        <div class="grid__thumb card">
          <img
            srcset="./images/gallery/img4-d.png 1x, ./images/gallery/img4@2x-d.png 2x"
            src="./images/gallery/img4-d.png"
            alt="icecream"
          />
        </div>
      </li>

      <li class="grid__item grid__item-5">
        <div class="grid__thumb card">
          <img
            srcset="./images/gallery/img5-d.png 1x, ./images/gallery/img5@2x-d.png 2x"
            src="./images/gallery/img5-d.png"
            alt="icecream"
          />
        </div>
      </li>

      <li class="grid__item grid__item-6">
        <div class="grid__thumb card">
          <img
            srcset="./images/gallery/img6-d.png 1x, ./images/gallery/img6@2x-d.png 2x"
            src="./images/gallery/img6-d.png"
            alt="icecream"
          />
        </div>
      </li>

      <li class="grid__item grid__item-7">
        <div class="grid__thumb card">
          <img
            srcset="./images/gallery/img7-d.png 1x, ./images/gallery/img7@2x-d.png 2x"
            src="./images/gallery/img7-d.png"
            alt="icecream"
          />
        </div>
      </li>

      <li class="grid__item grid__item-8">
        <div class="grid__thumb card">
          <img
            srcset="./images/gallery/img8-d.png 1x, ./images/gallery/img8@2x-d.png 2x"
            src="./images/gallery/img8-d.png"
            alt="icecream"
          />
        </div>
      </li>

      <li class="grid__item grid__item-9">
        <div class="grid__thumb card">
          <img
            srcset="./images/gallery/img9-d.png 1x, ./images/gallery/img9@2x-d.png 2x"
            src="./images/gallery/img9-d.png"
            alt="icecream"
          />
        </div>
      </li>

      <li class="grid__item grid__item-10">
        <div class="grid__thumb card">
          <img
            srcset="./images/gallery/img10-d.png 1x, ./images/gallery/img10@2x-d.png 2x"
            src="./images/gallery/img10-d.png"
            alt="icecream"
          />
        </div>
      </li>
    </ul>
  </section>
</article>
