<article class="example">
  <section class="section container">
    <h2 class="section__title visually-hidden">Gallery</h2>
    <ul class="grid">
      <li class="grid__item grid__item-1">
        <div class="grid__thumb card">
          <img class="grid__img" src="/images/gallery/img1.png" alt="icecream" />
        </div>
      </li>

      <li class="grid__item grid__item-2">
        <div class="grid__thumb card">
          <img class="grid__img" src="/images/gallery/img2.png" alt="icecream" />
        </div>
      </li>

      <li class="grid__item grid__item-3">
        <div class="grid__thumb card">
          <img class="grid__img" src="/images/gallery/img3.png" alt="icecream" />
        </div>
      </li>

      <li class="grid__item grid__item-4">
        <div class="grid__thumb card">
          <img class="grid__img" src="/images/gallery/img4.png" alt="icecream" />
        </div>
      </li>

      <li class="grid__item grid__item-5">
        <div class="grid__thumb card">
          <img class="grid__img" src="/images/gallery/img5.png" alt="icecream" />
        </div>
      </li>

      <li class="grid__item grid__item-6">
        <div class="grid__thumb card">
          <img class="grid__img" src="/images/gallery/img6.png" alt="icecream" />
        </div>
      </li>

      <li class="grid__item grid__item-7">
        <div class="grid__thumb card">
          <img class="grid__img" src="/images/gallery/img7.png" alt="icecream" />
        </div>
      </li>

      <li class="grid__item grid__item-8">
        <div class="grid__thumb card">
          <img class="grid__img" src="/images/gallery/img8.png" alt="icecream" />
        </div>
      </li>

      <li class="grid__item grid__item-9">
        <div class="grid__thumb card">
          <img class="grid__img" src="/images/gallery/img9.png" alt="icecream" />
        </div>
      </li>

      <li class="grid__item grid__item-10">
        <div class="grid__thumb card">
          <img class="grid__img" src="/images/gallery/img10.png" alt="icecream" />
        </div>
      </li>
    </ul>
  </section>
</article>
