<section id="process" class="section-gallery section">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="grid">
      <li class="grid__item grid__item-one">
        <div class="grid__thumb card">
          <picture class="grid__img">
            <source
              srcset="images/gallery/img1-d.png 1x, images/gallery/img1@2x-d.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="images/gallery/img1-t.png 1x, images/gallery/img1@2x-t.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="images/gallery/img1-m.png 1x, images/gallery/img1@2x-m.png 2x"
              media="(max-width: 767px)"
            />
            <img src="images/gallery/img1-m.png" alt="icecream" />
          </picture>
        </div>
      </li>

      <li class="grid__item grid__item-two">
        <div class="grid__thumb card">
          <picture class="grid__img">
            <source
              srcset="images/gallery/img2-d.png 1x, images/gallery/img2@2x-d.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="images/gallery/img2-t.png 1x, images/gallery/img2@2x-t.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="images/gallery/img2-m.png 1x, images/gallery/img2@2x-m.png 2x"
              media="(max-width: 767px)"
            />
            <img src="images/gallery/img2-m.png" alt="icecream" />
          </picture>
        </div>
      </li>

      <li class="grid__item grid__item-three">
        <div class="grid__thumb card">
          <picture class="grid__img">
            <source
              srcset="images/gallery/img3-d.png 1x, images/gallery/img3@2x-d.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="images/gallery/img3-t.png 1x, images/gallery/img3@2x-t.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="images/gallery/img3-m.png 1x, images/gallery/img3@2x-m.png 2x"
              media="(max-width: 767px)"
            />
            <img src="images/gallery/img3-m.png" alt="icecream" />
          </picture>
        </div>
      </li>

      <li class="grid__item grid__item-four">
        <div class="grid__thumb card">
          <picture class="grid__img">
            <source
              srcset="images/gallery/img4-d.png 1x, images/gallery/img4@2x-d.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="images/gallery/img4-t.png 1x, images/gallery/img4@2x-t.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="images/gallery/img4-m.png 1x, images/gallery/img4@2x-m.png 2x"
              media="(max-width: 767px)"
            />
            <img src="images/gallery/img4-m.png" alt="icecream" />
          </picture>
        </div>
      </li>

      <li class="grid__item grid__item-five">
        <div class="grid__thumb card">
          <picture class="grid__img">
            <source
              srcset="images/gallery/img5-d.png 1x, images/gallery/img5@2x-d.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="images/gallery/img5-t.png 1x, images/gallery/img5@2x-t.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="images/gallery/img5-m.png 1x, images/gallery/img5@2x-m.png 2x"
              media="(max-width: 767px)"
            />
            <img src="images/gallery/img5-m.png" alt="icecream" />
          </picture>
        </div>
      </li>

      <li class="grid__item grid__item-six">
        <div class="grid__thumb card">
          <picture class="grid__img">
            <source
              srcset="images/gallery/img6-d.png 1x, images/gallery/img6@2x-d.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="images/gallery/img6-t.png 1x, images/gallery/img6@2x-t.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="images/gallery/img6-m.png 1x, images/gallery/img6@2x-m.png 2x"
              media="(max-width: 767px)"
            />
            <img src="images/gallery/img6-m.png" alt="icecream" />
          </picture>
        </div>
      </li>

      <li class="grid__item grid__item-seven">
        <div class="grid__thumb card">
          <picture class="grid__img">
            <source
              srcset="images/gallery/img7-d.png 1x, images/gallery/img7@2x-d.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="images/gallery/img7-t.png 1x, images/gallery/img7@2x-t.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="images/gallery/img7-m.png 1x, images/gallery/img7@2x-m.png 2x"
              media="(max-width: 767px)"
            />
            <img src="images/gallery/img7-m.png" alt="icecream" />
          </picture>
        </div>
      </li>

      <li class="grid__item grid__item-eight">
        <div class="grid__thumb card">
          <picture class="grid__img">
            <source
              srcset="images/gallery/img8-d.png 1x, images/gallery/img8@2x-d.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="images/gallery/img8-t.png 1x, images/gallery/img8@2x-t.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="images/gallery/img8-m.png 1x, images/gallery/img8@2x-m.png 2x"
              media="(max-width: 767px)"
            />
            <img src="images/gallery/img8-m.png" alt="icecream" />
          </picture>
        </div>
      </li>

      <li class="grid__item grid__item-nine">
        <div class="grid__thumb card">
          <picture class="grid__img">
            <source
              srcset="images/gallery/img9-d.png 1x, images/gallery/img9@2x-d.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="images/gallery/img9-t.png 1x, images/gallery/img9@2x-t.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="images/gallery/img9-m.png 1x, images/gallery/img9@2x-m.png 2x"
              media="(max-width: 767px)"
            />
            <img src="images/gallery/img9-m.png" alt="icecream" />
          </picture>
        </div>
      </li>

      <li class="grid__item grid__item-ten">
        <div class="grid__thumb card">
          <picture class="grid__img">
            <source
              srcset="images/gallery/img10-d.png 1x, images/gallery/img10@2x-d.png 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="images/gallery/img10-t.png 1x, images/gallery/img10@2x-t.png 2x"
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="images/gallery/img10-m.png 1x, images/gallery/img10@2x-m.png 2x"
              media="(max-width: 767px)"
            />
            <img src="images/gallery/img10-m.png" alt="icecream" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
