<header class="header">
    <div class="container header__container">
        <a class="header__link"> 
            <img class="header__icon" src="" alt="" width="50px">
            <span class="header__logo">icecream</span>
        </a>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item nav__item--current"><a class="mobile-nav__link" href="#home">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="#about">About us</a></li>
                <li class="nav__item"><a class="nav__link" href="#process">How it's made?</a></li>
                <li class="nav__item"><a class="nav__link" href="#products">Our products</a></li>
                <li class="nav__item"><a class="nav__link" href="#contact">Contact</a></li>
            </ul>
        </nav>
        
        <div class="header__buttons">
            <button class="mobile__btn" type="button" aria-expanded="false">
                <svg class="mobile__icon" height='12px' width='20px'>
                    <!-- <use class="icon-open" href="./images/icons.svg#menu_40px"> </use>
                    <use class="icon-close" href="./images/icons.svg#close_40px"> </use> -->
                </svg>
            </button>
            <button class="main__btn-header" type="button">Buy now<span class="icon-span">&#8250;</span></button>
        </div>


    </div>
</header>