
<div class="main-hero-bg">
    <section class="section section-hero">
    <div class="container hero__container">

        <header class="header container">
                <a href="/index.html" class="header__link">
                    <img class="header__icon" src="/images/icon-logo.png" alt="logo" width="50">
                    <span class="header__logo">icecream</span>
                </a>
        
                <nav class="nav">
                    <ul class="nav__list">
                        <li class="nav__item nav__item--current"><a class="mobile-nav__link" href="/index.html">Home</a></li>
                        <li class="nav__item"><a class="nav__link" href="#about">About us</a></li>
                        <li class="nav__item"><a class="nav__link" href="#process">How it's made?</a></li>
                        <li class="nav__item"><a class="nav__link" href="#products">Our products</a></li>
                        <li class="nav__item"><a class="nav__link" href="#contact">Contact</a></li>
                    </ul>
                </nav>
        
                <button class="mobile__btn" data-menu-button type="button" aria-expanded="false" aria-controls="mobile__menu">
                    <svg class="mobile__icon" height='14px' width='22px'>
                        <use class="icon-open" href="/images/icons.svg#menu_24px"> </use>
                        <use class="icon-close" href="/images/icons.svg#close_24px"> </use>
                    </svg>
                </button>
        
        
                <button class="main__btn-header" type="button">Buy now
                    <svg class="arrow_right__icon" height='20px' width='15px'>
                        <use class="arrow_right" href="/images/icons.svg#arrowright"> </use>
                    </svg>
                </button>
        
                <!-- Мобільне меню -->
                <div class="mobile__menu" data-menu id="mobile__menu">
                    <button class="main__btn-mobile" type="button">Buy now
                        <svg class="arrow_right__icon-mobile" height='25px' width='20px'>
                            <use class="arrow_right" href="/images/icons.svg#arrowright"></use>
                        </svg>
                    </button>
                    <nav class="mobile-nav">
                        <ul class="mobile-nav__list">
                            <li class="mobile-nav__item mobile-nav__item--current"><a class="mobile-nav__link"
                                    href="#home">Home</a>
                            </li>
                            <li class="mobile-nav__item"><a class="mobile-nav__link" href="#about">About us</a></li>
                            <li class="mobile-nav__item"><a class="mobile-nav__link" href="#process">How it's made?</a></li>
                            <li class="mobile-nav__item"><a class="mobile-nav__link" href="#products">Our products</a></li>
                            <li class="mobile-nav__item"><a class="mobile-nav__link" href="#contact">Contact</a></li>
                        </ul>
                    </nav>
            </div>
        </header>

        <div class="hero-upper-wrapper">
            <div class="hero-title-wrapper">
                <h1 class="hero__title">ice cream made with 
                    <span class="hero__title--red">passion
                    </span> 
                </h1>
                <!-- Дві якірні кнопки -->
                <ul class="hero-btn__list">
                    <li class="hero-btn__item">
                        <a class="hero-btn__link" href="#products">Products</a>
                    </li>
                    <li class="hero-btn__item">
                        <a class="hero-btn__link" href="#about">How it's made?</a>
                    </li>
                </ul>
            </div>
            <!-- Текст з числами праворуч -->
            <ul class="hero__list">
                <li class="hero__item">
                    <p class="hero__number">
                        16
                        <span class="hero__number-desc">
                            cafes
                        </span>
                    </p> 
                </li>
                <li class="hero__item">
                    <p class="hero__number">
                        23
                        <span class="hero__number-desc">
                            food trucks
                        </span>
                    </p> 
                </li>
            </ul>
        </div>
      <!-- Картинка з молоком і текст праворуч -->
        <div class="hero-subwrapper">
            <picture>
                <source 
                    srcset="images/hero/pic-1/pic-1_lg.webp 1x,
                            images/hero/pic-1/pic-1_lg@2x.webp 2x"   
                    media="(min-width: 1280px)"
                    type="image/webp" />
                <source 
                    srcset="images/hero/pic-1/pic-1_lg.png 1x,
                            images/hero/pic-1/pic-1_lg@2x.png 2x" 
                    media="(min-width: 1280px)"
                    type="image/png" />
                    
                <source 
                    srcset="images/hero/pic-1/pic-1_md.webp 1x,
                            images/hero/pic-1/pic-1_md@2x.webp 2x"       
                    media="(min-width: 768px)" 
                    type="image/webp" />
                <source 
                    srcset="images/hero/pic-1/pic-1_md@2x.png 2x"   
                    media="(min-width: 768px)"
                    type="image/png" />
                <img  
                    src="images/hero/pic-1/pic-1_md.png" 
                    alt="Milk in jug" />
            </picture>

            <div class="hero-text-wrapper">
                <p class="hero-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                </p>

                <!-- Стрілочка-якір на секцію продактс -->
                <a class="hero-link" href="#products">
                    <svg 
                        class="hero__icon">
                        <use href="images/icons.svg#icon-right-arrow"></use>
                    </svg>
                </a>
            </div>
        </div>

        <!-- Позиціоновані зоображення -->
        <picture class="pic-3">
            <source 
                srcset="images/hero/pic-3/pic-3_lg.webp 1x,
                        images/hero/pic-3/pic-3_lg@2x.webp 2x" 
                media="(min-width: 1280px)" 
                type="image/webp" />
            <source 
                srcset="images/hero/pic-3/pic-3_lg.png 1x,
                        images/hero/pic-3/pic-3_lg@2x.png 2x" 
                media="(min-width: 1280px)" 
                type="image/png" />
        
            <source 
                srcset="images/hero/pic-3/pic-3_md.webp 1x,
                        images/hero/pic-3/pic-3_md@2x.webp 2x" 
                media="(min-width: 768px)" 
                type="image/webp" />
            <source 
                srcset="images/hero/pic-3/pic-3_md.png 1x,
                    images/hero/pic-3/pic-3_md@2x.png 2x" 
                media="(min-width: 768px)" 
                type="image/png" />
            <source 
                srcset="images/hero/pic-3/pic-3_sm.webp 1x,
                        images/hero/pic-3/pic-3_sm@2x.webp 2x" 
                media="(max-width: 390px)" 
                type="image/webp" />
            <source 
                srcset="images/hero/pic-3/pic-3_sm.png 1x,
                        images/hero/pic-3/pic-3_sm@2x.png 2x" 
                media="(max-width: 390px)" 
                type="image/png" />
            <img 
                src="images/hero/pic-3/pic-3_md.png" 
                alt="Big pink circle"/>
        </picture>

        <picture class="pic-2">
            <source 
                srcset="images/hero/pic-2/pic-2_lg.webp 1x,
                        images/hero/pic-2/pic-2_lg@2x.webp 2x" 
                media="(min-width: 1280px)" 
                type="image/webp" />
            <source 
                srcset="images/hero/pic-2/pic-2_lg.png 1x,
                        images/hero/pic-2/pic-2_lg@2x.png 2x" 
                media="(min-width: 1280px)" 
                type="image/png" />
        
            <source 
                srcset="images/hero/pic-2/pic-2_md.webp 1x,
                        images/hero/pic-2/pic-2_md@2x.webp 2x" 
                media="(min-width: 768px)" 
                type="image/webp" />
            <source 
                srcset="images/hero/pic-2/pic-2_md.png 1x,
                        images/hero/pic-2/pic-2_md@2x.png 2x" 
                media="(min-width: 768px)" 
                type="image/png" />
            <source 
                srcset="images/hero/pic-2/pic-2_sm.webp 1x,
                        images/hero/pic-2/pic-2_sm@2x.webp 2x" 
                media="(max-width: 767px)" 
                type="image/webp" />
            <source 
                srcset="images/hero/pic-2/pic-2_sm@2x.png 2x"
                media="(max-width: 767px)" 
                type="image/png" />
            <img 
                src="images/hero/pic-2/pic-2_sm.png" 
                alt="Big pink circle" />
        </picture>
        <picture class="pic-4">
            <source 
                srcset="images/hero/pic-4/pic-4_lg.webp 1x,
                        images/hero/pic-4/pic-4_lg@2x.webp 2x" 
                media="(min-width: 1280px)" 
                type="image/webp" />
            <source 
                srcset="images/hero/pic-4/pic-4_lg.png 1x,
                        images/hero/pic-4/pic-4_lg@2x.png 2x" 
                media="(min-width: 1280px)" 
                type="image/png" />
        
            <source 
                srcset="images/hero/pic-4/pic-4_md.webp 1x,
                        images/hero/pic-4/pic-4_md@2x.webp 2x" 
                media="(min-width: 768px)" 
                type="image/webp" />
            <source 
                srcset="images/hero/pic-4/pic-4_md@2x.png 2x" media="(min-width: 768px)" 
                type="image/png" />
            <img 
                src="images/hero/pic-4/pic-4_md.png" 
                alt="Girl in swimsuit eats ice-cream"/>
        </picture>
    </div>
    </section>
</div>
