<!-- Мобільне меню -->
<div class="mobile-overlay">
    <div class="mobile__menu" data-menu> 
        <button class="main__btn-mobile" type="button">Buy now<span class="icon-span">&#8250;</span></button>
        <nav class="mobile-nav">
            <ul class="mobile-nav__list">
                <li class="mobile-nav__item mobile-nav__item--current"><a class="mobile-nav__link" href="#home">Home</a></li>
                <li class="mobile-nav__item"><a class="mobile-nav__link" href="#about">About us</a></li>
                <li class="mobile-nav__item"><a class="mobile-nav__link" href="#process">How it's made?</a></li>
                <li class="mobile-nav__item"><a class="mobile-nav__link" href="#products">Our products</a></li>
                <li class="mobile-nav__item"><a class="mobile-nav__link" href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>
