<!-- Modal about -->

<div class="overlay js-overlay-modal">
  <div class="modal modal__about-box" data-modal="1">
    <button class="modal__button" type="button" aria-label="close button" data-modal-close>
      <svg class="modal__cross js-modal-close" width="25" height="25">
        <use href="/images/icons.svg#menu-close"></use>
      </svg>
    </button>
    <p class="about-modal__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sint a nam culpa, quidem
      blanditiis? Fugiat deleniti corrupti voluptas earum labore perspiciatis, veritatis at ad rerum
      ut, impedit id voluptatem distinctio quo a iste quibusdam maiores totam ullam et nisi?
      Similique libero soluta vel magnam mollitia. Ipsam iure, explicabo cupiditate sint facilis
      hic, eum amet laudantium odio sed earum quae quos deleniti voluptatibus aut, reiciendis
      deserunt inventore maxime adipisci? Illo, explicabo et cupiditate officia dolores facere eos
      dolore delectus velit dolorum amet labore vitae debitis sunt. In nostrum eaque illum corporis
      numquam, non ipsa saepe sapiente doloribus sint, quod minus deserunt assumenda harum amet
      possimus consequuntur aperiam id, velit ducimus? Asperiores quod laudantium vero accusamus
      totam cum, doloremque ratione debitis amet quidem fugiat commodi corporis eos corrupti
      necessitatibus explicabo, voluptas ipsa optio inventore! Enim error sunt commodi architecto,
      ipsa quod? Voluptatibus deleniti illo modi beatae quas repellendus assumenda esse perferendis
      eligendi!
    </p>
  </div>

    <div class="modal modal__about-box" data-modal="2">
      <button class="modal__button" type="button" aria-label="close button" data-modal-close>
        <svg class="modal__cross js-modal-close" width="25" height="25">
          <use href="/images/icons.svg#menu-close"></use>
        </svg>
      </button>
    </div>
</div>
